.lightBackground {
  background-color: var(--ion-color-light);
}

ion-card {
  background-color: white;
}
ion-button{
  font-size: 12px;
}
.sc-ion-card-md-h {
   --background: var(transparent);
   background: white;
   margin-left: 0px;
   margin-right: 0px;
 }

.avatar{
  border-radius: 50%;
  width: 5rem;
  height: auto;
}