<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="end" class="icon-close" (click)="menuClose()"></ion-buttons>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>IMG</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button (click)="goToLogin()">Logar</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-header>


            <ion-content>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Menu do usuário</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>

                        <ion-list>
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of userMenu">
                                <ion-item class="menu-item" [routerLink]="[p.url]" detail="false">
                                    <ion-label>
                                        {{p.title}}
                                    </ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>

                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Geral</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>

                        <ion-list>
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of generalLinks">
                                <ion-item class="menu-item" [routerLink]="[p.url]" detail="false">
                                    <ion-label>
                                        {{p.title}}
                                    </ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>
s                    </ion-card-content>
                </ion-card>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
