<page-header title="Agenda"></page-header>

<ion-content>
    <div class="contaner">
        <ion-grid>
            <ion-row>
                <ion-col size="5">
                    <ion-item lines="none">
                        <ion-datetime placeholder="Escolha a data" displayFormat="DD MM YYYY" min="2019-06-04"
                                      max="2050-01-01"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="7">
                    <ion-button>Pesquisar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>


        <div class="agenda-items">
            <ion-item>
                <ion-label>
                    <span>11:00 </span><span> Palestra do fulano</span>
                </ion-label>
                <ion-button (click)="goToQrCode()" fill="outline" slot="end">QR-Code</ion-button>
            </ion-item>
            <ion-item lines="none">
                <ion-button (click)="goToRegisterActivity()" slot="end">Agendar</ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>
