<main-header title="Cadastrar publico alvo"></main-header>
<ion-content color="tertiary">
  <div class="container">
    <form class="box ion-padding-top">
      <div text-center>
        <img class="page-icon" src="../../../../assets/imgs/course.png">
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Público alvo / curso">
            </ion-input>
            <!-- <ng-container *ngFor="let validation of validationMessages.name">
              <div class="error-message"
                *ngIf="registerResourceForm.get('name').hasError(validation.type) && (registerResourceForm.get('name').dirty || registerResourceForm.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container> -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-padding-top ion-padding-bottom ion-text-center">
        <ion-button text-center (click)="submit()">Cadastrar público alvo</ion-button>
      </div>
    </form>

    <div class="ion-padding-top">
      <div  class="page-title">Cursos já cadastrados</div>
      <ion-list>
        <ion-item>
          <ion-label>ADS</ion-label>
          <ion-icon (click)="removeCourse(course.id)" ios="ios-remove-circle" md="md-remove-circle" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
