<modal-header title="Editar perfil"></modal-header>
<ion-content>
    <div class="container">
        <form [formGroup]="accountForm">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div text-center>
                            <img class="avatar account" src="{{user.usuario.image}}">
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="name" placeholder="Nome" [(ngModel)]="user.usuario.name"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.name">
                            <div class="error-message"
                                 *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="last_name" placeholder="Sobrenome" [(ngModel)]="user.usuario.last_name"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.name">
                            <div class="error-message"
                                 *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="email" placeholder="E-mail" [(ngModel)]="user.usuario.email"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.name">
                            <div class="error-message"
                                 *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="cpf" placeholder="CPF" [(ngModel)]="user.usuario.cpf"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.name">
                            <div class="error-message"
                                 *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>Alterar senha</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-button (click)="logout()">Logout</ion-button>
    </div>
</ion-content>



