<modal-header title="Alterar senha"></modal-header>
<ion-content color="tertiary">
    <div class="container">
        <form [formGroup]="changePasswordForm" class="box">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="password" placeholder="Nova senha"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.password">
                            <div class="error-message"
                                 *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input formControlName="confirmPassword" placeholder="Confirme a senha"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
                            <div class="error-message"
                                 *ngIf="changePasswordForm.get('confirmPassword').hasError(validation.type) && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-center>
                <ion-button (click)="changePassword()">Salvar</ion-button>
            </div>
        </form>
    </div>
</ion-content>
