<modal-header title="Alterar senha"></modal-header>
<ion-content color="tertiary">
    <div class="container">
        <form [formGroup]="changePasswordForm" class="box">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Senha atual"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Nova senha"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input placeholder="Confirme a senha"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-center>
                <ion-button>Salvar</ion-button>
            </div>
        </form>
    </div>
</ion-content>
