ion-input {
  background-color: white;
  padding: 0.5rem;
  display: block;
  border: none;
  overflow: visible;
  border: 1px solid var(--ion-color-secondary) !important;
  .native-input.sc-ion-input-md{
    font-size: 17px;
    background-color: white;
  }
}