<page-header title="Salas"></page-header>
<ion-content color="tertiary">
    <div padding-top class="container">
        <ion-radio-group padding-top>
            <ion-grid text-center>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-radio (click)="filterRoom('Sala')"></ion-radio>
                        </div>
                        <div>
                            <ion-label>Salas</ion-label>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-radio (click)="filterRoom('Laboratório')"></ion-radio>
                        </div>
                        <div>
                            <ion-label>Laboratórios</ion-label>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-radio (click)="filterRoom('Auditório')"></ion-radio>
                        </div>
                        <div>
                            <ion-label>Auditórios</ion-label>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div (click)="goToAddRoomModal()">
                            <ion-icon class="add-room" name="add-circle"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-radio-group>


        <div *ngIf="rooms">
            <div *ngIf="!roomsSearch || roomsSearch == ''">
                <ion-card class="room-info" *ngFor="let room of rooms">
                    <ion-item>
                        <ion-icon *ngIf="room.type == 'Sala'" name="paper-plane" slot="start"></ion-icon>
                        <ion-icon *ngIf="room.type == 'Laboratório'" ios="ios-desktop" md="md-desktop" slot="start">
                        </ion-icon>
                        <ion-icon *ngIf="room.type == 'Auditório'" ios="ios-people" md="md-people" slot="start">
                        </ion-icon>
                        <ion-label>{{room.name}}</ion-label>
                        <ion-button class="btn-option" (click)="goToCalendar()" fill="outline" slot="end">Agendar
                            atividade</ion-button>
                    </ion-item>
                    <ion-card-content>
                        <div> <span></span></div>
                        <div> <span></span></div>
                        <div>
                            <span (click)="goToEditRoom(room.id)" float-right>
                                <ion-icon class="edit-room" name="create"></ion-icon>
                            </span>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
            <div *ngIf="roomsSearch">
                <ion-card class="room-info" *ngFor="let room of roomsSearch">
                    <ion-item>
                        <ion-icon *ngIf="room.type == 'Sala'" name="paper-plane" slot="start"></ion-icon>
                        <ion-icon *ngIf="room.type == 'Laboratório'" ios="ios-desktop" md="md-desktop" slot="start">
                        </ion-icon>
                        <ion-icon *ngIf="room.type == 'Auditório'" ios="ios-people" md="md-people" slot="start">
                        </ion-icon>
                        <ion-label>{{room.name}}</ion-label>
                        <ion-button class="btn-option" (click)="goToCalendar()" fill="outline" slot="end">Agendar
                            atividade</ion-button>
                    </ion-item>
                    <ion-card-content>
                        <div>
                            <span (click)="goToEditRoom(room.id)" float-right>
                                <ion-icon class="edit-room" name="create"></ion-icon>
                            </span>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>


    </div>
</ion-content>