<main-header></main-header>
<ion-content color="tertiary">
    <div class="container">


        <h1 class="page-title">Lista de atividades</h1>
        <form [formGroup]="activitySearchForm">
            <ion-grid class="box">
                <ion-row>
                    <ion-col>
                        <ion-label position="fixed">Pesquisar:</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <div class="ion-text-center">
            <ion-button class="btn-events" (click)="getActivitySearch()">Pesquisar</ion-button>
        </div>

        <span *ngIf="activities">
            <span *ngIf="!activitySearch || activitySearch == ''">
                <div *ngFor="let activity of activities">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{activity.speaker.speakerName}}</ion-card-subtitle>
                            <ion-card-title class="highlight">{{activity.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-item>
                            <ion-label>
                                <div class="d-block">E-mail: <span>{{activity.speaker.speakerEmail}}</span></div>
                                <div class="d-block highlight">Evento: <span
                                        class="speaker-name">{{activity.event.title}}</span>
                                    {{activity.event.edition}}</div>
                                <div class="d-block">Tipo: <span>{{activity.type}}</span></div>
                                <div class="d-block">Local: <span>{{activity.room.type}}</span> {{activity.room.name}}</div>
                                <br>
                                <div class="d-block">De: <span>{{activity.formatedInitialTime}}</span></div>
                                <div class="d-block">Até: <span>{{activity.formatedFinalTime}}</span></div>
                            </ion-label>
                            <ion-button (click)="goToQrCode(activity.id)" fill="outline" slot="end">QR-Code
                            </ion-button>
                        </ion-item>
                        <ion-card-content>
                            <span>Descrição: </span>
                            {{activity.description}}
                        </ion-card-content>
                    </ion-card>
                </div>
            </span>
        </span>

        <span *ngIf="activities">
            <span *ngIf="activitySearch">
                <div *ngFor="let activity of activitySearch">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{activity.speaker.speakerName}}</ion-card-subtitle>
                            <ion-card-title class="highlight">{{activity.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-item>
                            <ion-label>
                                <div class="d-block">E-mail: <span>{{activity.speaker.speakerEmail}}</span></div>
                                <div class="d-block highlight">Evento: <span>{{activity.event.title}}</span>
                                    {{activity.event.edition}}</div>
                                <div class="d-block">Tipo: <span>{{activity.type}}</span></div>
                                <div class="d-block">Local: <span>{{activity.room.type}}</span> {{activity.room.name}}</div>
                                <br>
                                <div class="d-block">De: <span>{{activity.formatedInitialTime}}</span></div>
                                <div class="d-block">Até: <span>{{activity.formatedFinalTime}}</span></div>
                            </ion-label>
                            <ion-button (click)="goToQrCode(activity.id)" fill="outline" slot="end">QR-Code
                            </ion-button>
                        </ion-item>
                        <ion-card-content>
                            <span>Descrição: </span>
                            {{activity.description}}
                        </ion-card-content>
                    </ion-card>
                </div>
            </span>
        </span>
    </div>
</ion-content>