<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="welcome">
        <img class="page-icon" src="../../../assets/imgs/bem-vindo.jpeg">
    </div> -->
    <ion-card class="title-text-manual">
        <ion-card-header>
            <ion-row>
                <ion-col size="12" class="title-text" style="color:black">
                    Manual do Usuário Fatapp Admin
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>

    <ion-card class="head">
        <ion-card-header>
            <ion-row>
                <ion-col size="12" class="title-text">
                    Controlar Salas
                </ion-col>
            </ion-row>
        </ion-card-header>
        
        <ion-card class="body">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="5" class="image-controlesala">
                            <img src="../../../assets/imgs/manual/ContSalas.jpg">
                        </ion-col>

                        <ion-col size="7">
                            <br/><br/><br/>
                            <div class="manual-text">
                                <ol>
                                    <li> No menu, clique na opção “Salas”;</li>
                                    <li>Para cadastrar uma nova sala clique no ícone de “+”;</li>
                                    <li>Será exibida uma tela onde após o preenchimento e o clique em “Adicionar Sala”;</li>
                                    <li>Será redirecionado a tela anterior, com a nova sala cadastrada;</li>
                                    <li>Para editar a sala, basta clicar no ícone de “lápis” onde será exibido as informações para serem adicionadas à sala.</li>
                                    <br/>
                                    <b>
                                            A Figura ao lado representa a interface do Fatapp Admin referente ao percurso para se controlar salas.
                                    </b>
                                </ol>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
        </ion-card>
    </ion-card>

    <ion-card class="head">
        <ion-card-header>
            <ion-row>
                <ion-col size="12" class="title-text">
                    Cadastrar Recursos
                </ion-col>
            </ion-row>
        </ion-card-header>
        
        <ion-card class="body">
                <ion-card-header>
                    <ion-row>

                            <ion-col size="7">
                                    <br/><br/><br/>
                                    <div class="manual-text">
                                        <ol>
                                            <li>No menu, clique na opção “Salas”; </li>
                                            <li>Para editar a sala, basta clicar no ícone de “lápis”;</li>
                                            <li>Clique em “Adicionar Recursos”;</li>
                                            <li>Preencha as informações desejadas e clique em “Adicionar Recurso”;</li>
                                            <li>O sistema redirecionará o usuário para a tela anterior com o recurso cadastrado.</li>
                                            <br/>
                                            <b>
                                                A Figura ao lado representa a interface do Fatapp Admin referente ao percurso para se cadastrar recursos.
                                            </b>
                                        </ol>
                                    </div>
                                </ion-col>

                        <ion-col size="5" class="image-controlesala">
                            <img src="../../../assets/imgs/manual/CadRecursos.jpg">
                        </ion-col>

                        
                    </ion-row>
                </ion-card-header>
        </ion-card>
    </ion-card>

    <ion-card class="head">
            <ion-card-header>
                <ion-row>
                    <ion-col size="12" class="title-text">
                        Cadastrar Evento
                    </ion-col>
                </ion-row>
            </ion-card-header>
            
            <ion-card class="body">
                    <ion-card-header>
                        <ion-row>
                            <ion-col size="5" class="image-controlesala">
                                <img src="../../../assets/imgs/manual/CadEventos.jpg">
                            </ion-col>
    
                            <ion-col size="7">
                                <br/><br/><br/>
                                <div class="manual-text">
                                    <ol>
                                        <li>No menu, selecione a opção “Cadastrar evento”;</li>
                                        <li>Digite as informações do novo evento e clique em “Cadastrar evento”.</li>
                                        <b>  
                                            A Figura ao lado representa a interface do Fatapp Admin e o passo a passo para se cadastrar um evento.
                                        </b>
                                    </ol>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
            </ion-card>
        </ion-card>

</ion-content>


