<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <img class="welcome" src="../../../assets/imgs/bem-vindo.jpeg">
    </div>
    <p class="text-welcome">
        Bem-vindo ao Fatapp Admin, sistema desenvolvido para auxiliar no 
        gerenciamento de eventos da FATEC SCS (Faculdade de tecnologia de São Caetano do Sul).
        <br/>
        Por aqui é possível cadastrar e manipular salas, recursos, palestrantes, atividades, enviar relatórios por E-mail e gerar QR Code por atividade para que a audiência possa autenticar presença e receber certificado através do Fatapp (mobile).
        <br/>
    </p>
    

</ion-content>