.btn-login{
  width: 97%
}

.img-login{
  width: 50%
}

.border-bottom-login{
  border-bottom: var(--ion-color-secondary);
  border-bottom-style: solid;
}

.box-login{
  background-color: white;
  border: 1px solid var(--ion-color-secondary);
  padding-top: 5%;
  padding-bottom: 5%;
}
.page-login{
  padding-top: 10%;
  margin-bottom: 10%;
}