<ion-card>
  <ion-item>
    <ion-icon name="paper-plane" slot="start"></ion-icon>
    <ion-label>Sala 1
    </ion-label>
    <ion-button (click)="goToCalendar()" fill="outline" slot="end">Agendar atividade</ion-button>
  </ion-item>
  <ion-card-content>
    <div>
      Capacidade: 30 pessoas
    </div>
    <div>
      Qtd computadores: 15
    </div>
    <div>
      Obs: Computadores com netbeans.
      <span (click)="goToEditRoom()" class="edit-room" float-right> <ion-icon name="create"></ion-icon></span>
    </div>

  </ion-card-content>
</ion-card>
